<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">Wij zijn een groep studenten die een bank website moesten maken</p>
            </div>
            <div class="col l3 s12">
                <ul>
                    <li><a class="white-text" href="#!">Over ONZE</a></li>
                    <li><a class="white-text" href="#!">andere talen</a></li>
                    <li><a class="white-text" href="#!">Privacy</a></li>
                    <li><a class="white-text" href="#!">Toegankelijkheid</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <ul>
                    <li><a class="white-text" href="#!">Werken bij ONZE</a></li>
                    <li><a class="white-text" href="#!">Algemene veiligheid</a></li>
                    <li><a class="white-text" href="#!">Disclaimer</a></li>
                    <li><a class="white-text" href="#!">Investeren</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by ITV2F-4
        </div>
    </div>
</footer>
