{% extends 'layout.twig' %}

{% block body %}
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo"><img src="img/logo_transparent_50.png" class="center-logo-image" alt="logo"></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Registreer</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Registreer</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center orange-text text-lighten-2">Onze bank</h1>
                <div class="row center">
                    <h5 class="header col s12 light">Een bank waar jij je thuis kan voelen</h5>
                </div>
                <div class="row center">
                    <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange lighten-1">Start nu</a>
                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="img/background1.jpg" alt="Unsplashed background img 1"></div>
    </div>


    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                        <h5 class="center">Snel aan de slag</h5>

                        <p class="light">Bij ONZE bank hoef je niet lang te wachten om je rekening te openen. Door online verificatie kunt u met een druk op de knop direct aan de slag met uw bankzaken.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">Gefocussed op de gebruiker</h5>

                        <p class="light">Door gebruik te maken van begrijpelijke taal en een simpele gebruikers omgeving zorgen wij er voor dat ONZE bank de instap bank is voor jong en oud.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                        <h5 class="center">Makkelijk in gebruik</h5>

                        <p class="light">ONZE bank is makkelijk in gebruik door de vele hulpfunctionaliteiten. Mocht u vragen hebben over gebruik van bepaalde functionaliteiten kunt u direct online en telefonische hulp krijgen.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <h1 class="header center orange-text text-lighten-2">Onze bank</h1>
                <div class="row center">
                    <h5 class="header col s12 light">Een bank waar jij je thuis kan voelen</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="img/background3.jpg" alt="Unsplashed background img 3"></div>
    </div>

    <footer class="page-footer orange">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Company Bio</h5>
                    <p class="grey-text text-lighten-4">Wij zijn een groep studenten die een bank website moesten maken</p>


                </div>
                <div class="col l3 s12">
                    <ul>
                        <li><a class="white-text" href="#!">Over ONZE</a></li>
                        <li><a class="white-text" href="#!">andere talen</a></li>
                        <li><a class="white-text" href="#!">Privacy</a></li>
                        <li><a class="white-text" href="#!">Toegankelijkheid</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <ul>
                        <li><a class="white-text" href="#!">Werken bij ONZE</a></li>
                        <li><a class="white-text" href="#!">Algemene veiligheid</a></li>
                        <li><a class="white-text" href="#!">Disclaimer</a></li>
                        <li><a class="white-text" href="#!">Investeren</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by ITV2F-4
            </div>
        </div>
    </footer>

{% endblock %}
